services:
    gateway:
        build: .
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./conf.d:/etc/nginx/conf.d:ro
            - ./lua:/usr/local/openresty/nginx/conf/lua:ro
            - resty-auto-ssl:/etc/resty-auto-ssl
        networks:
            - sumber-network

networks:
    sumber-network:
        external: true

volumes:
    resty-auto-ssl:
